<%- include("partials/header.ejs") %>

  <main>
    <div class="logo-container">
      <img id="logo-headline" src="assets/images/Logo2.png" alt="Logo2.png">              
    </div>
    <div class="intro-container">
      <div>
        <img id="Teacher1-photo" src="assets/images/image2.png" alt="image2.png">        
      </div>
      <div>
        <h1>Willkommen bei der <%= musicSchoolName %></h1>
        <p>
          Von den ersten einfachen Griffen bis hin zu komplexen Melodien
          begleite ich dich auf deiner musikalischen Reise mit Professionalität,
          Kompetenz und Zuverlässigkeit.</p>
          <p>Bei mir ist jeder ab 6 Jahren herzlich willkommen,
          um die Faszination der Gitarre, des Basses und der Ukulele zu entdecken. Ich biete eine kostenlose Probestunde an,
          um gemeinsam herauszufinden, wie wir deine musikalischen Ziele am besten erreichen können.</p>
          <p>
          Lass uns gemeinsam deine Leidenschaft für die Musik entfachen und deinen individuellen Sound formen!
        </p>
        <button id="btn_TestLesson" type="button" class="btn btn-success">
          Kostenlose Probestunde buchen
        </button>        
      </div>
    </div>
    <h2 class="container-headline">Unterrichtsfächer:</h2>    
    <div class="lessons-container">
      <div class="overlay-container">
        <button id="btn_course1" type="button" class="btn btn-success overlay-button">
          E-Gitarre
        </button>        
        <img class="lesson-image" src="assets/images/lesson_image.png" alt="lesson_image.png">
      </div>
      <div>
        <button id="btn_course2" type="button" class="btn btn-success overlay-button">
          Klassische Gitarre
        </button>                  
        <img class="lesson-image" src="assets/images/lesson_image.png" alt="lesson_image.png">
      </div>
      <div>
        <button id="btn_course3" type="button" class="btn btn-success overlay-button">
          Westerngitarre
        </button>        
        <img class="lesson-image" src="assets/images/lesson_image.png" alt="lesson_image.png">
      </div>
      <div>
        <button id="btn_course4" type="button" class="btn btn-success overlay-button">
          E-Bass
        </button>        
        <img class="lesson-image" src="assets/images/lesson_image.png" alt="lesson_image.png">
      </div>
      <div>
        <button id="btn_course5" type="button" class="btn btn-success overlay-button">
          Ukulele
        </button>        
        <img class="lesson-image" src="assets/images/lesson_image.png" alt="lesson_image.png"
        ></div>
      <div>
        <button id="btn_course6" type="button" class="btn btn-success overlay-button">
          Homerecording
        </button>        
        <img class="lesson-image" src="assets/images/lesson_image.png" alt="lesson_image.png">
      </div>
    </div>
  </main>
        
<%- include("partials/footer.ejs") %>