
html, body{
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}


footer
{
  background-color: khaki;
}

header,
footer {
  flex: 0 0 auto;  
  font-style: normal;  
}

header
{
  flex: 0 0 auto;
  font-weight: 600;  
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 1;  
}

main {
  margin-top: 5rem;
  text-align: center;
  padding: 1vmin;
  flex: 1 0 auto;
  display: flex;
}

/* 
Main Color palette
https://colorhunt.co/palette/9bb8cdfff7d4eec759b1c381

Button: #B1C381
Nav-bar and other backgrounds: #9BB8CD
Body: #FFF7D4
Footer: #EEC759

*/

.navbar
{  
  background-color: khaki;  
}

.footer {
    position: relative;
    width: 100%;    
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.custom-carousel {
  height: 30%; /* Adjust the height as per your requirement */  
}

.carousel-item img {
  padding-top: 1em;
  width:auto;
  height: 200px;  
}

.container
{
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 5;
}


